/* ********HEADER**************/
header nav ul li:nth-child(2) a{
    text-decoration: none;
    padding: 5px 20px;
    background-color: white;
    border-radius: 4px 16px;
    font-weight: 600;
    color: #2850D1;
    border: none;   
}
/*********FIM DA HEADER**************/


/* ************MAIN*************** */
main section#blog{
    padding: 30px 0px;
}
main section#blog .container .cards-blog{
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    padding: 3% 0px;
}
main section#blog .container .cards-blog .card-blog {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px 48px;
    overflow: hidden;
}
main section#blog .container .cards-blog .card-blog .imagem{
    width: 30%;
    height: auto;
}
main section#blog .container .cards-blog .card-blog .imagem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main section#blog .container .cards-blog .card-blog .card-content{
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}
main section#blog .container .cards-blog .card-blog .card-content h2{
    font-size: 2em;
}
main section#blog .container .cards-blog .card-blog .card-content p{
    font-size: 1.2em;
    line-height: 2em;
    color: #737373;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
main section#blog .container .cards-blog .card-blog .card-content .informacao{
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    justify-content: space-between;
}
main section#blog .container .cards-blog .card-blog .card-content .informacao sub{
    color: #666666;
    font-size:0.85em; 
}
main section#blog .container .cards-blog .card-blog .card-content .informacao a{
    text-decoration: none;
    font-size:0.85em; 
}
/* ******** FIM DA MAIN*************** */
